{% extends "base.html" %}

{% block include %}
  {{ super() }}
  <link href="{{ url_for("static", filename="css/labs/style.css") }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
  {% include "labs/videos_collection/nav.html" %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-2">
      <img src="{{ channel.avatar }}" alt="{{ channel.name }}" class="rounded-circle" width="128" height="128">
    </div>
    <div class="col-10">
      <br><h1 class="me-5">{{ channel.name }}  <a class="btn btn-outline-danger" href="{{ channel.link }}">Переглянути на Youtube</a></h1>
      <span>{{ channel.subscribers }} підписників</span><br>
    </div>
  </div>
  <hr>
  <h2 class="mt-3">Опис каналу</h2>
  <div>
    {{ channel.description }}
  </div>
  <hr>
  <h2 class="mt-3">Відео</h2>
  {% if channel.videos %}
    <div class="row row-cols-1 row-cols-md-3 g-4">

    {% for video in channel.videos %}
      <div class="col">
        <div class="card h-100">
          <img src="{{ video.preview_link }}" class="card-img-top" alt="{{ video.title }}">
          <div class="card-body">
            <hr>
            <a class="h5 card-title" href="{{ url_for("videos_collection.video_info_page", video_id=video.id) }}">{{ video.title }}</a>
            <p class="card-text">Додано: {{ video.date_uploaded.strftime("%d.%m.%Y") }}</p>
          </div>
        </div>
      </div>
    {% endfor %}

    </div>
  {% else %}
    <b>На каналі ще немає відео</b>
  {% endif %}
{% endblock %}
