table, th, td {
  border-collapse: collapse;
  border: 2px solid #000;
}

table.layout {
  height: 98vh;
  width: 70%;
  margin-left: 15%;
}

th.header {
  height: 15%;
  background-color: blue;
}

th.col-2 {
  background-color: yellow;
  width: 20%;
}

th.col-4 {
  width: 60%;
}

th.col-5 {
  background-color: yellow;
  width: 20%;
}

th.footer {
  height: 10%;
  background-color: blue;
}
